<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/williamtrandall">Will</a>, a web developer on a mission to collect the most eclectic assortment of quotes possible.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'imagejpeg_0.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">William Randall</h2>
      <br />
      <p>
        William Randall is an aspiring web developer looking to enhance his skills through building apps like this one.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>